

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/app/css/backup.css">
  <title>ORDER</title>
</head>
<body>
  <aside class="product-card">
    <header>
      <a target="_blank" href="#"><img src="../../static/app/images/img1.png" style="border-radius: 10px;"></a>
      <h1>Thai Lan</h1>
      <h2>Enjoy life</h2>
    </header>
    <div class="product-bio">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis ligula vitae lorem tempus maximus.</p>
      <button>Wishlist</button>
      <button class="cart">Book ticket now</button>
    </div>
  </aside>
</body>
</html>