<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME PAGE</title>
  <link rel="stylesheet" href="../../static/app/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body> 
  <header class="head" style="display: flex; justify-content: flex-end; gap: 320px; padding: 0 15px 0 0; align-items: center; "> 
    <div class="head-frame"> 
      <div class="head-button"> <a class="head-link" href="#" style="text-decoration: none;">Thisng to do</a></div>
      <div class="head-button"> <a class="head-link" href="#" style="text-decoration: none;">Travel Guide</a></div>
      <div class="head-button"> <a class="head-link" href="#" style="text-decoration: none;">Tours</a></div>
    </div>
    <div class="head-button"  style="display: flex; gap:20px;">
      <img src="../../static/app/images/user.png" alt="" style="width: 25px; height: 25px;">
      <span> hi {{request.user}} </span>
      <a href={% url "logout" %}>Log Out</a>
    </div>
  </header>
  <main>
    <section class="card"> 
      <div class="contain">
        <div class="card-contain"> 
          <div class="card-contents" style="align-items: center;"> 
            <div class="card-contents-img"> 
              <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1695456164332-b9f6cd6e837c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1975&q=80" class="d-block-w-100" alt="image">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1695456261833-3794ab617deb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" class="d-block-w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1695456165190-8637c1098a03?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1975&q=80" class="d-block-w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              </div>
            <div class="contents-tittle">
              <div class="contents-tittle-heading">
                <div class="heading-tittle">
                  <h3 class="heading-tittle-1">Where in the world :</h3>
                  <div class="heading-tittle-2">Asia  /  Viet Nam  /  Ha Noi</div>
                </div>
                <div class="heading-review"> <img class="heading-star" src="../../static/app/images//star.png" alt="star">
                  <div class="reviews"><span class="reviews-rate">4.8 </span><span class="reviews-count">(122 reviews)</span></div>
                </div>
              </div>
              <div class="contents-tittle-text">Sacred &amp; Religious Sites &middot; Shopping Malls &middot; Gift &amp; Specialty Shops</div>
              <div class="contents-tittle-sub">
                <div class="sub-sub"> 
                  <h4 class="sub-tittle-1">City of Angels</h4>
                  <div class="sub-tittle-2">Enjoy cultural, historical, and culinary exploration during your holiday in Ha Noi, the capital of Viet Nam and the most populous city in the country. With over 8 million residents, Ha Noi remains a sprawling metropolitan</div>
                </div>
                <div class="sub-text">In your trip Sep 28 - Oct 1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="top-tour">
      <div class="contain">
        <h2 class="headding">Top Ha Noi Tours</h2>
        <div class="card-list"> 
          <div class="contents">
            {% for tour in tours %}
              <div class="content">
                <div class="contents-img" style="height: 239px;"><img style="height: 100%;" class="img" src=https://th.bing.com/th/id/R.7248e465dae0c9fadf89ad372ef0848a?rik=bNRXsI2CSQPTiA&pid=ImgRaw&r=0&sres=1&sresct=1 alt="this is a picture"/>
                  <div class="button">From $10</div>
                </div>
                <div class="contents-content">
                  <div class="content-tittle">
                    <div class="top">
                      <a class="top-tittle" href={% url 'backup' %}?id={{tour.id}} style="text-decoration: none;">{{tour.name}}</a>
                    </div>
                    <div class="ratting" style="gap: 56px;">
                      <div class="review"><img style="height: 100%;"  class="review-star" src="../../static/app/images//star.png" alt="star"/>
                        <div class="review-text">{{tour.rate}} (12 reviews)</div>
                      </div>
                      <div class="duration">Duration: {{tour.duration}} hours</div>
                    </div><a class="content-button" href={% url 'backup' %}?id={{tour.id}} rel="noopener noreferer">Tours Price ${{tour.cost}}</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <section class="popular-tour"> 
      <div class="contain">
        <h2 class="headding">Popular foods to eat in Ha Noi</h2>
        <div class="popular-list">
          {% for food in foods %}
            <div class="popular">
              <div class="popular-img"><img class="popular-image" src="https://res.klook.com/image/upload/fl_lossy.progressive,q_85/c_fill,w_1000/v1620811234/blog/hx0kcj8ibmy1uxmvue1f.webp" alt="this is a girl"/><span class="popular-button">Must See</span></div>
              <div class="popular-content">
                <div class="popular-tittle"><span class="tittle-1">{{food.duration}}</span>
                  <h3 class="tittle-2">{{food.name}}</h3>
                </div>
                <div class="popular-review"><img class="popular-star" src="../../static/app/images//star.png" alt="star"/><span class="popular-text">{{food.rate}}  (12 reviews)</span></div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="gem-test">
      <div class="contain">
        <h2 class="headding">Gem test</h2>
        <div class="gem-test-lists">
          <div class="gem-test-list"> <img class="gem-test-pic" src="https://images.pexels.com/photos/4424141/pexels-photo-4424141.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="this is a picture"></div>
          <div class="gem-test-list"> <img class="gem-test-pic" src="https://images.pexels.com/photos/6510272/pexels-photo-6510272.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="this is a picture"></div>
          <div class="gem-test-list"> <img class="gem-test-pic" src="https://images.pexels.com/photos/4616836/pexels-photo-4616836.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="this is a picture"></div>
          <div class="gem-test-list"> <img class="gem-test-pic" src="https://images.pexels.com/photos/7384118/pexels-photo-7384118.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="this is a picture"></div>
          <div class="gem-test-list"> <img class="gem-test-pic" src="https://images.pexels.com/photos/5629918/pexels-photo-5629918.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="this is a picture"></div>
        </div>
      </div>
    </section>
    <section class="gem-tour" style="padding-bottom: 35px;">
      <div class="contain">
        <h2 class="headding">Specialties of Hanoi         </h2>
        <div class="gem-l">
          {% for special in specials %}
            <div class="gem-l-contain"> 
              <div class="gem-l-items"><img src="https://demoda.vn/wp-content/uploads/2022/11/anh-racing-boy-di-kep-2-boc-dau-xe-giua-duong-pho.jpg" alt="this is a picture">
                <div class="gem-l-overlay"> </div>
                <div class="gem-l-tittle"> 
                  <h3 class="gem-l-tittle-1">{{special.name}} </h3>
                  <div class="gem-l-tittle-2">{{special.duration}}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <a class="button-all" href="#" target="_blank" style="margin-bottom: 35px;">Explore All</a>
    </section>
  </main>
  <footer class="footer">
    <div class="contain">
      <div class="footer-list"> 
        <div class="footer-items"> 
          <div class="footer-item-logo"> <img class="item-logo" srcset="../../static/app/images//logo-icon.png 2x" alt="Airtrav">
            <div class="item-tittle">
              <div class="footer-tittle-1">Similarly, a loan taken out to buy a car may be secured by the car. The duration of the loan.</div>
              <form class="footer-tittle-2">
                <input class="footer-ip" type="email" placeholder="Enter your email">
                <button class="row-right" type="submit"><img class="button-arrow-right" srcSet="../../static/app/images//line.png 2x" alt="right-arrow"></button>
              </form>
            </div>
          </div>
          <div class="footer-item">
            <h4 class="footer-heading">Services</h4>
            <ul class="links" style="padding-left: 0;"> 
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Trip Planner</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Tour Planning</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Tour Guide</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Tour Package</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Tour advice</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <h4 class="footer-heading">Support</h4>
            <ul class="links" style="padding-left: 0;"> 
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Account</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Legal</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Contact</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Terms &amp;   Condition</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <h4 class="footer-heading">Business</h4>
            <ul class="links" style="padding-left: 0;"> 
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Success</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">About Locato</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Blog</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Information</a></li>
              <li class="link"> <a class="footer-link" href="#" style="text-decoration: none;">Travel Guide</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-botton">
        <div class="footer-texts"> 
          <div class="footer-text">Copyright© 2021 UIHUT LLC. All rights reserved</div>
        </div>
        <div class="footer-social"> 
          <div class="social"><a href="#"><img src="../../static/app/images//fa.png" alt="logo"></a></div>
          <div class="social"><a href="#"><img src="../../static/app/images//in.png" alt="logo"></a></div>
          <div class="social"><a href="#"><img src="../../static/app/images//tw.png" alt="logo"></a></div>
          <div class="social"><a href="#"><img src="../../static/app/images//ins.png" alt="logo"></a></div>
        </div>
      </div>
    </div>
  </footer>
</body>