<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML CSS</title>
  <link rel="stylesheet" href="../../static/app/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap" rel="stylesheet">
</head>
<body> 
  <header class="head"> 
    <div class="head-frame"> 
      <div class="head-button"> <a class="head-link" href="#">Thisng to do</a></div>
      <div class="head-button"> <a class="head-link" href="#">Travel Guide</a></div>
      <div class="head-button"> <a class="head-link" href="#">Tours</a></div>
    </div>
  </header>
  <main>
    <section class="card"> 
      <div class="contain">
        <div class="card-contain"> 
          <div class="card-contents"> 
            <div class="card-contents-img"> <img class="main-img" src="../../static/app/images//anhtieude.png" alt="this is a picture"><img class="group" src="../../static/app/images//group.png" alt=""></div>
            <div class="contents-tittle">
              <div class="contents-tittle-heading">
                <div class="heading-tittle">
                  <h3 class="heading-tittle-1">Where in the world :</h3>
                  <div class="heading-tittle-2">Asia  /  Thailand  /  Bangkok</div>
                </div>
                <div class="heading-review"> <img class="heading-star" src="../../static/app/images//star.png" alt="star">
                  <div class="reviews"><span class="reviews-rate">4.8 </span><span class="reviews-count">(122 reviews)</span></div>
                </div>
              </div>
              <div class="contents-tittle-text">Sacred &amp; Religious Sites &middot; Shopping Malls &middot; Gift &amp; Specialty Shops</div>
              <div class="contents-tittle-sub">
                <div class="sub-sub"> 
                  <h4 class="sub-tittle-1">City of Angels</h4>
                  <div class="sub-tittle-2">Enjoy cultural, historical, and culinary exploration during your holiday in Bangkok, the capital of Thailand and the most populous city in the country. With over 8 million residents, Bangkok remains a sprawling metropolitan</div>
                </div>
                <div class="sub-text">In your trip Sep 28 - Oct 1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="top-tour">
      <div class="contain">
        <h2 class="headding">Top Bangkok Tours</h2>
        <div class="card-list"> 
          <div class="contents">
            <div class="content">
              <div class="contents-img"><img class="img" src="../../static/app/images//img1.png" alt="this is a picture"/>
                <div class="button">From $40</div>
              </div>
              <div class="contents-content">
                <div class="content-tittle">
                  <div class="top">
                    <h3 class="top-tittle">Thailands Ayutthaya Temples Cruise from Bangkok</h3>
                  </div>
                  <div class="ratting">
                    <div class="review"><img class="review-star" src="../../static/app/images//star.png" alt="star"/>
                      <div class="review-text">4.8 (12 reviews)</div>
                    </div>
                    <div class="duration">Duration: 9 hours</div>
                  </div><a class="content-button" href="" target="_blank" rel="noopener noreferer">Tours Price $61</a>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="contents-img"><img class="img" src="../../static/app/images//img2.png" alt="this is a picture"/>
                <div class="button">From $71</div>
              </div>
              <div class="contents-content">
                <div class="content-tittle">
                  <div class="top">
                    <h3 class="top-tittle">FLoating Markets Day Trip from Bangkok</h3>
                  </div>
                  <div class="ratting">
                    <div class="review"><img class="review-star" src="../../static/app/images//star.png" alt="star"/>
                      <div class="review-text">4.8 (12 reviews)</div>
                    </div>
                    <div class="duration">Duration: 9 hours</div>
                  </div><a class="content-button" href="" target="_blank" rel="noopener noreferer">Tours Price $61</a>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="contents-img"><img class="img" src="../../static/app/images//img3.png" alt="this is a picture"/>
                <div class="button">From $60</div>
              </div>
              <div class="contents-content">
                <div class="content-tittle">
                  <div class="top">
                    <h3 class="top-tittle">Bangkok Dinner Cruise on the Chao Phraya River</h3>
                  </div>
                  <div class="ratting">
                    <div class="review"><img class="review-star" src="../../static/app/images//star.png" alt="star"/>
                      <div class="review-text">4.8 (12 reviews)</div>
                    </div>
                    <div class="duration">Duration: 9 hours</div>
                  </div><a class="content-button" href="" target="_blank" rel="noopener noreferer">Tours Price $61</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="popular-tour"> 
      <div class="contain">
        <h2 class="headding">Popular things to do in Bangkok</h2>
        <div class="popular-list">
          <div class="popular">
            <div class="popular-img"><img class="popular-image" src="https://images.unsplash.com/photo-1682687219640-b3f11f4b7234?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80" alt="this is a girl"/><span class="popular-button">Must See</span></div>
            <div class="popular-content">
              <div class="popular-tittle"><span class="tittle-1">Sep 28 10:00 AM - 1:00 PM</span>
                <h3 class="tittle-2">The Grand Palace</h3>
              </div>
              <div class="popular-review"><img class="popular-star" src="../../static/app/images//star.png" alt="star"/><span class="popular-text">4.8  (12 reviews)</span></div>
            </div>
          </div>
          <div class="popular">
            <div class="popular-img"><img class="popular-image" src="https://images.unsplash.com/photo-1486571698588-a2204703bec8?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1331&amp;q=80" alt="this is a girl"/><span class="popular-button">Must See</span></div>
            <div class="popular-content">
              <div class="popular-tittle"><span class="tittle-1">Sep 28 10:00 AM - 1:00 PM</span>
                <h3 class="tittle-2">Chatuchak Weekend</h3>
              </div>
              <div class="popular-review"><img class="popular-star" src="../../static/app/images//star.png" alt="star"/><span class="popular-text">4.9  (13 reviews)</span></div>
            </div>
          </div>
          <div class="popular">
            <div class="popular-img"><img class="popular-image" src="https://images.unsplash.com/photo-1513334213196-cd40f8090bdc?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=774&amp;q=80" alt="this is a girl"/><span class="popular-button">Must See</span></div>
            <div class="popular-content">
              <div class="popular-tittle"><span class="tittle-1">Sep 28 10:00 AM - 1:00 PM</span>
                <h3 class="tittle-2">Wat Pho</h3>
              </div>
              <div class="popular-review"><img class="popular-star" src="../../static/app/images//star.png" alt="star"/><span class="popular-text">5  (20 reviews)</span></div>
            </div>
          </div>
          <div class="popular">
            <div class="popular-img"><img class="popular-image" src="https://images.unsplash.com/photo-1610124693663-9c7cb468a08c?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1333&amp;q=80" alt="this is a girl"/><span class="popular-button">Must See</span></div>
            <div class="popular-content">
              <div class="popular-tittle"><span class="tittle-1">Sep 28 10:00 AM - 1:00 PM</span>
                <h3 class="tittle-2">Temple Of Dawn</h3>
              </div>
              <div class="popular-review"><img class="popular-star" src="../../static/app/images//star.png" alt="star"/><span class="popular-text">5.1  (21 reviews)</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="gem-test">
      <div class="contain">
        <h2 class="headding">Gem test</h2>
        <div class="gem-test-lists">
          <div class="gem-test-list"> <img class="gem-test-pic" src="https://images.pexels.com/photos/5629918/pexels-photo-5629918.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="this is a picture"></div>
          <div class="gem-test-list"> <img class="gem-test-pic" src="https://images.pexels.com/photos/6510272/pexels-photo-6510272.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="this is a picture"></div>
          <div class="gem-test-list"> <img class="gem-test-pic" src="https://images.pexels.com/photos/4616836/pexels-photo-4616836.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="this is a picture"></div>
          <div class="gem-test-list"> <img class="gem-test-pic" src="https://images.pexels.com/photos/7384118/pexels-photo-7384118.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="this is a picture"></div>
          <div class="gem-test-list"> <img class="gem-test-pic" src="https://images.pexels.com/photos/4424141/pexels-photo-4424141.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="this is a picture"></div>
        </div>
      </div>
    </section>
    <section class="gem-tour">
      <div class="contain">
        <h2 class="headding">Hidden gems in Bangkok          </h2>
        <div class="gem-l">
          <div class="gem-l-contain"> 
            <div class="gem-l-items"><img src="https://images.unsplash.com/photo-1557649761-bd16586181db?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1487&amp;q=80" alt="this is a picture">
              <div class="gem-l-overlay"> </div>
              <div class="gem-l-tittle"> 
                <h3 class="gem-l-tittle-1">Bangkok Trip</h3>
                <div class="gem-l-tittle-2">27 Sep, 2020</div>
              </div>
            </div>
          </div>
          <div class="gem-l-contain"> 
            <div class="gem-l-items"><img src=" https://images.unsplash.com/photo-1519380800401-724ac0a2b343?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80" alt="this is a picture">
              <div class="gem-l-overlay"> </div>
              <div class="gem-l-tittle"> 
                <h3 class="gem-l-tittle-1">Bangkok Trip</h3>
                <div class="gem-l-tittle-2">27 Sep, 2020</div>
              </div>
            </div>
          </div>
          <div class="gem-l-contain"> 
            <div class="gem-l-items"><img src="https://images.unsplash.com/photo-1470329508532-be27fda94658?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1171&amp;q=80" alt="this is a picture">
              <div class="gem-l-overlay"> </div>
              <div class="gem-l-tittle"> 
                <h3 class="gem-l-tittle-1">Bangkok Trip</h3>
                <div class="gem-l-tittle-2">27 Sep, 2020</div>
              </div>
            </div>
          </div>
          <div class="gem-l-contain"> 
            <div class="gem-l-items"><img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1173&amp;q=80" alt="this is a picture">
              <div class="gem-l-overlay"> </div>
              <div class="gem-l-tittle"> 
                <h3 class="gem-l-tittle-1">Bangkok Trip</h3>
                <div class="gem-l-tittle-2">27 Sep, 2020</div>
              </div>
            </div>
          </div>
        </div>
      </div><a class="button-all" href="" target="_blank">Explore All</a>
    </section>
  </main>
  <footer class="footer">
    <div class="contain">
      <div class="footer-list"> 
        <div class="footer-items"> 
          <div class="footer-item-logo"> <img class="item-logo" srcset="../../static/app/images//logo-icon.png 2x" alt="Airtrav">
            <div class="item-tittle">
              <div class="footer-tittle-1">Similarly, a loan taken out to buy a car may be secured by the car. The duration of the loan.</div>
              <form class="footer-tittle-2">
                <input class="footer-ip" type="email" placeholder="Enter your email">
                <button class="row-right" type="submit"><img class="button-arrow-right" srcSet="../../static/app/images//line.png 2x" alt="right-arrow"></button>
              </form>
            </div>
          </div>
          <div class="footer-item">
            <h4 class="footer-heading">Services</h4>
            <ul class="links"> 
              <li class="link"> <a class="footer-link" href="#">Trip Planner</a></li>
              <li class="link"> <a class="footer-link" href="#">Tour Planning</a></li>
              <li class="link"> <a class="footer-link" href="#">Tour Guide</a></li>
              <li class="link"> <a class="footer-link" href="#">Tour Package</a></li>
              <li class="link"> <a class="footer-link" href="#">Tour advice</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <h4 class="footer-heading">Support</h4>
            <ul class="links"> 
              <li class="link"> <a class="footer-link" href="#">Account</a></li>
              <li class="link"> <a class="footer-link" href="#">Legal</a></li>
              <li class="link"> <a class="footer-link" href="#">Contact</a></li>
              <li class="link"> <a class="footer-link" href="#">Terms &amp;   Condition</a></li>
              <li class="link"> <a class="footer-link" href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <h4 class="footer-heading">Business</h4>
            <ul class="links"> 
              <li class="link"> <a class="footer-link" href="#">Success</a></li>
              <li class="link"> <a class="footer-link" href="#">About Locato</a></li>
              <li class="link"> <a class="footer-link" href="#">Blog</a></li>
              <li class="link"> <a class="footer-link" href="#">Information</a></li>
              <li class="link"> <a class="footer-link" href="#">Travel Guide</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-botton">
        <div class="footer-texts"> 
          <div class="footer-text">Copyright© 2021 UIHUT LLC. All rights reserved</div>
        </div>
        <div class="footer-social"> 
          <div class="social"><a href="#"><img src="../../static/app/images//fa.png" alt="logo"></a></div>
          <div class="social"><a href="#"><img src="../../static/app/images//in.png" alt="logo"></a></div>
          <div class="social"><a href="#"><img src="../../static/app/images//tw.png" alt="logo"></a></div>
          <div class="social"><a href="#"><img src="../../static/app/images//ins.png" alt="logo"></a></div>
        </div>
      </div>
    </div>
  </footer>
</body>